.home {
    min-height: 100dvh;
    min-width: 100dvw;
}

h1 {
    display: flexbox;
    text-align: center;
}

.carousel-container {
    display: flex;
    width: 900px;
    height: 350px;
    margin: 0.15rem auto;
}

.products {
    display: flex;
    height: 60%;
    min-width: 100%;
    margin: 0.15rem auto;
}